body {
    margin: 0 auto;
    text-align: center;
    background: url(../images/bluefrenchhorn.jpg);
}

.container {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 25px;
}

#get-started {
    font-size: 35px;
}